.datas--nutrients{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;

    figure{
        display: flex;
        align-items: center;
        background: $color-bg-light;
        border-radius: 5px;
        padding: 32px;
        margin: 0;
        width: 258px;
    
        img{
            width: 60px;
            height: 60px;
        }
        figcaption{
            margin-left: 15px;
        }
        .nutrient--count{
            margin: 0;
            font-size: 20px;
            font-weight: 700;
        }
        .nutrient--name{
            margin: 5px 0 0 0;
            color: $color-secondary;
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 1200px){
    .datas--nutrients{
        margin-left: 0 !important;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        margin-top: 15px;
        
        figure{
            width: 190px;
            padding: 20px 10px;

            .nutrient--count{
                font-size: 16px;
            }
        }
    }
}