*{
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: $font-primary;
    font-weight: 500;
    margin: 0;
}

h2{
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 24px; 
}

h3{
    font-size: 18px;
    font-weight: 500; 
}

a{
    text-decoration: none;
    
    &:visited{
        color: white;
    }
}

.loading{
    text-align: center;
    line-height: 100vh;
}