.dashboard {
    margin-left: 240px;


    &__welcome {

        .name {
            color: $color-primary;
        }
    }
    &__datas{
        display: flex;
    }

    .datas__charts--activity{
        position: relative;

        .activity-chart{
            background: $color-bg-light;
            padding-top: 75px;
            border-radius: 5px;           

            .legend-format{
                color: $color-secondary;
                font-size: 14px;
            }
        }

        h3{
            position: absolute;
            top: 15px;
            left: 40px;
            font-size: 15px;
        }
    }
    .datas__charts--scores{
        position: relative;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;

        .average-sessions-chart{
            background: $color-primary;
            padding-top: 50px;
            border-radius: 5px;
            width: 260px;

            .legend-format{
                opacity: 0;
            }
            h3{
                position: absolute;
                width: 150px;
                top: 10px;
                left: 30px;
                font-size: 15px;
                color: $color-bg-light;
                opacity: .5;
            }
        }
        .performance-chart {
            background: $color-bg-grey;
            border-radius: 5px;
            width: 260px;

            .legend-format{
                opacity: 0;
            }
        }
    }
    .datas--nutrients{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 25px;
    }
}

