.dashboard {
    padding-left: 120px;
    padding-top: 92px;
    width: fit-content;
    margin: auto;

    &__welcome {

        .name {
            color: $color-primary;
        }
    }
    &__datas{
        display: flex;
    }
}

@media screen and (max-width: 1200px){
    .dashboard__datas{
        flex-direction: column;
        max-width: 800px;
        margin-bottom: 50px;
    }
}