.dashboard {
    margin-left: 240px;


    &__welcome {

        .name {
            color: $color-primary;
        }
    }
    &__datas{
        display: flex;
    }

    .datas__charts--activity{
        background: $color-bg-light;
        padding-top: 55px;
    }
}